body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 87, 173);
  background: linear-gradient(
    90deg,
    rgba(0, 87, 173, 1) 0%,
    rgb(0, 140, 233) 50%,
    rgba(0, 87, 173, 1) 100%
  );
}

.Main_Container {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  background: rgb(230, 230, 230);
  background: linear-gradient(
    90deg,
    rgba(230, 230, 230, 1) 0%,
    rgb(225, 225, 225) 32%,
    rgba(225, 225, 225, 1) 68%,
    rgba(230, 230, 230, 1) 100%
  );
  width: 100%;
  max-width: 1000px;
  height: 100%;
  /* padding-top: 10%; */
  padding-bottom: 3%;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px 10px 20px 5px #2222225c;
}


table,
th,
td {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-style: solid;
  border-width: 3px;
  height: 30px;
  padding: 6px;
}

.font {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
}

.blue {
  color: rgb(0, 107, 184);
}

.white {
  color: white;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  height: 150px;
}

button {
  border-radius: 10px;
  height: 40px;
  width: 100px;
  background-color: rgb(0, 107, 184);
  margin-right: 15px;
  border-style: none;
}

button:hover {
  background-color: rgb(0, 131, 224);
  box-shadow: 0px 5px 20px 1px #2222225c;
}

button:focus{
  outline: none;
}

input {
  border-radius: 10px;
  height: 30px;
  width: 200px;
  margin-right: 15px;
  margin-left: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(0, 107, 184);
  background: rgb(242, 242, 242);
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgb(233, 233, 233) 100%
  );
}

input:hover {
  background-color: rgb(0, 131, 224);
  box-shadow: 0px 5px 20px 1px #2222225c;
}

input:focus{
  outline: none;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 15%;
  margin-left: 20px;
  margin-right: 5px;
}

.pin-input{
  
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  width: 30px;
  /* margin-left: 50px; */
}

.pin-input-cell{
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  font-size: 1.5em;
}

h2 {
  
  margin-right: 10px;
  margin-left: 10px;
}
game-box-div {
  margin-left: 20px;
}


#User-Input-Menu{
  display: inline;
}

#End-Game-Menu{
  display: none;
}

.invalid  {
  border-color: red;
}

.hidden {
  visibility: hidden;
}

.message  {
  font-size: small;
  color: red;
}
.hide{
  display: none;
}
#gameBox{

  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/background.jpg');
    
  /* background: rgb(250, 162, 0); */
  background: url(./imgs/game.png),
  radial-gradient(
    circle,
    rgb(255, 213, 124) 0%,
    rgb(241, 184, 77) 60%,
    rgba(230, 158, 24, 0.823) 100%
  )
  ;
  height: 80px;
  width: 300px;
  box-shadow: 0px 5px 10px 5px #22222218;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(0, 107, 184);
  margin-right: 20px;
  margin-top: 20px;
}